.home-container {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Hero Section */
.hero-section {
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  padding: 0 5%;
}

.hero-content {
  display: flex;
  justify-content: flex-start; /* Align items at start */
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.text-content h1 {
  font-size: 2.5rem;
  line-height: 1.4;
}
.brand-text {
  white-space: nowrap
}
.with {
  font-size: 4.5rem;
  line-height: 1.4;
}
.brand1 {
  font-size: 4.5rem;
  line-height: 1.4;
}
.brand2 {
  font-size: 4.5rem;
  line-height: 1.4;
}


.highlight {
  color: #6c63ff;
}

.brand1 {
  color: #0052cc;
  font-weight: bold;
}
.brand2 {
  color: black;
  font-weight: bold;
}


.button-group {
  margin-top: 20px;
}

/* Buttons */
.btn-primary,
.btn-outline {
  padding: 16px 32px;        /* larger clickable area */
  font-size: 1.2rem;         /* bigger text */
  border-radius: 10px;       /* rounded corners */
  cursor: pointer;
  transition: all 0.3s ease; /* smooth hover effect */
  min-width: 150px;          /* uniform button width */
  font-weight: bold;
  margin-left: 20px
}

/* Primary button style */
.btn-primary {
  background-color: #0052cc;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #003d99; /* darker on hover */
}

/* Outline button style */
.btn-outline {
  background: none;
  border: 2px solid #0052cc;
  color: #0052cc;
}

.btn-outline:hover {
  background-color: #0052cc;
  color: white;
}


.image-content {
  position: relative;
  left: 400px; /* moves it right */
}


.hero-image {
  max-width: 700px;
}

/* Footer Section */
.footer-section {
  height: 100vh;
  background: #f7f9fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 5%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  width: 45%;
}

.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-right li {
  margin-bottom: 10px;
}

.footer-social {
  text-align: center;
  margin-top: 20px;
}

.footer-social a {
  margin: 0 10px;
  color: #0052cc;
  font-size: 1.5rem;
}
